.modelcontainer{
    text-transform: uppercase;
    color: #000;
    padding:40px 0px;
    font-family: MiniSerif, Times, Times New Roman, Georgia, serif;
}
.container{
    padding: 40px 0px;
    text-align: center;
}
h1{
    font-size: 32px;
    padding:0 25px 50px;
}
h3{
    font-size: 22px;
}
.home-model-img{
    height:106px;
    width:250px;
}
