.modelcontainer{
    text-transform: uppercase;
    color: #000;
    padding:40px 40px;
    min-height: 100vh;
    font-family: MiniSerif, Times, Times New Roman, Georgia, serif;
}
/* .container{
    padding: 40px 0px;
    text-align: center;
} */
.modeltitle{
    font-size: 32px;
    padding:0 25px 50px;
}
.modelname{
    font-size: 22px;
}
.home-model-img{
    height:106px;
    width:250px;
}
.modelcontent{
    padding:0px 40px;
}
