.featured {
    padding:40px 10px;
    background-color: #f1f1f1;
     font-family: MiniSans, Arial, sans-serif;
}
h1{
    font-size: 32px;
    text-align: center;
    padding:0px 25px 30px;
}
.featuredsubtitle{
    font-size: 22px;
    font-weight: bold;
}
.featuredtitle{
    padding:0;
    margin:0;
    font-size: 32px;
    font-weight: bold;
}
p{
    font-size: 18px;
    padding:15px 0px;
    margin:0;
}

.btn-red {
background-color: #ac2430;
    border-color: #ac2430;
}

.btn-black {
    background-color: #000;
}
a {
    font-weight: bold;
    color: currentColor;
    text-decoration: none;
}

a:hover {
    color: currentColor;
    text-decoration: none;
}
.featuredcontentcontainer {
    padding: 30px;
    margin: 10px;
    
    background-color: #fff;
}
.featured-content{
    padding:10px;
}
/* .featured-container{
    height:900px;
} */
@media screen  and (max-width:500px){
    .featured {
            padding: 2px 2px;
        }
    .featuredcontentcontainer{
        margin:10px 40px;
        height:auto;
        width:auto;
    }
    .featured-content{
        padding:5px;
    }
    button, button:hover{
        padding:10px;
    }
}