.featured {
    padding: 50px 25px;
    background-color: #f1f1f1;
    font-family: MiniSerif, Times, Times New Roman, Georgia, serif;
}
h1{
    font-size: 32px;
    text-align: center;
    padding:0px 25px 50px;
}
h2{
    padding:0;
    margin:0;
}
p{
    padding:15px 0px;
    margin:0;
}

.featured-img{
    height: 200px;
    width:250px;
}

.btn{
    color:#fff;
    border: none;
    font-size: 16px;
    margin: 12px;
    padding: 11px 52px;
    text-transform: uppercase;
}
.btn:hover {
    color: #000;
    font-size: 16px;
    margin: 12px;
    padding: 11px 52px;
    background-color: #fff;
    border:1px solid black;
    text-transform: uppercase;
}
.btn-red {
background-color: #ac2430;
    border-color: #ac2430;
}

.btn-black {
    background-color: #000;
}
a {
    font-weight: bold;
    color: currentColor;
    text-decoration: none;
}

a:hover {
    color: currentColor;
    text-decoration: none;
}