nav.navbar{
    /* top:0%;
    width:100%;
    position: fixed; */
    padding: 0px 30px;
    background-color: #fff;
}
.navmodelname{
    font-size: 20px;
    font-weight:400;
    text-transform: uppercase;
    font-family: MiniSerif, Times, Times New Roman, Georgia, serif;
}
 .navmodeltitle {
    font-size: 20px;
    font-weight: bold;
    font-family: MiniSerif, Times, Times New Roman, Georgia, serif;
}

.navsubtitle {
        font-size: 14px;
        padding:5px;
        text-transform: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
}
 .navbtn{
        color:white;
        border: none;
        font-size: 15px;
        padding:5px 20px;
        text-transform: uppercase;
        background-color: #ac2430;
}
.navbtnoffer {
       color: white;
        border: none;
        font-size: 15px;
        background-color: black;
}
 .navbtn:hover {
          color: #000;
          font-size: 15px;
          padding: 5px 20px;
          border:1px solid #000;
          background-color: #fff;
}
.navmodelicon {
    font-size: 2rem;
}
 .icon{
        font-size: 2rem;
        color:#ac2430;
        padding-right:5px;
}

#nav-dropdown-dark-example::after{
    display: none !important;
}

#nav-dropdown::after{
    display: none !important;
}

#nav-dropdown-dark-example, #nav-dropdown , .right-nav{
    color: #000;
    font-size: 14px;
    font-weight: bold;
    font-family: MiniSans, Arial, sans-serif;
 
}
 /* #dropdown-button-drop-end.dropdown-toggle.btn.btn-light::after {
     display: none;
 } */
.dropdown-menu.show.dropdown-menu-light{
    margin:0px 10%;
    padding:0px 30px;
    width:80%;
}
.hidden{
    visibility: hidden;
}
.navmodel:hover + .hidden{
    visibility: visible;
}
.navmodel{
    backface-visibility: visible;
}

.navmodelbottom{
    padding:10px 0px 0px 0px;
}
.dropdown-item.dropdown-item:hover{
    background-color: #fff;
}
.dropdown-item.dropdown-item:focus {
    background-color: #fff;
}
.dropdown:hover.dropdown-menu{
    display: block;
}
 /* .dropdown-item{
    padding:24px;
    background-color: #fff;
} */
/* .navmodelcontainer{
    padding:3px 24px;
} */

@media screen and  (min-width:1285px) and (max-width:1290px) {
    .dropdown-menu.show.dropdown-menu-light {
            margin:0;
            width:100%;
        }
}
/* .navmodel{
    padding-bottom: 30px;
    background-color: #fff;
} */
a.dropdown-item{
    padding:0px;
}