.form{
    padding:25px 0px;
    background-color: #f1f1f1;
}
.formrow {
    background-color: #f1f1f1;
}
.formcontainer{
    padding:0px 25px;
    margin:0px;
}
.contactheading{
    font-size: 32px;
    padding:0px;
    margin:40px 0px 0px 0px;
    text-align: left;
    text-transform: uppercase;
    font-family: MiniSerif, Times, Times New Roman, Georgia, serif;
}
.formcontent{
    padding:0px 25px 50px;
}

.label {
    font-weight: bold;
}
.input{
    padding: 11px 16px;
    border:1px solid black;
}
.checkbox{
    font-size:13px;
}

.btn-red {
    background-color: #ac2430;
    border-color: #ac2430;
}
.contact-icon {
    font-size: 2rem;
    margin: 7px;
    display: inline-block;
}
.contactli{
    font-size:32px;
    padding:8px;
    list-style-type: none;
    display: inline-block;
}

.contactul{
    text-align: right;
     
}
@media screen {
    .contactul{
        text-align: center;
    }
}