#legal{
    color:#fff;
    text-align: center;
    font-size: 13px;
    padding:75px 20px;
    background-color: #000;
}
a{
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    margin:0;
    padding:0;
    display: block;
    font-family: MiniSans, Arial, sans-serif;
}
li{
    margin:0;
    font-size: 16px;
    padding:8px 0px;
    display: block;
} 
ul{
    text-align: left;
     margin:50px 0px 25px 0px;
    padding:25px 0px; 
}

.footertitle{
    font-size: 18px;
    padding:0px;
    margin:0;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-family: MiniSans, Arial, sans-serif;
}
hr{
    width:15%;
}
.footer-container{
    margin:0px 0px 50px 0px;
}
@media screen and  (max-width: 1024px){
    .footer-container{
        display: none;
    }
}

@media screen and (min-width:1025px) {
    #dropdown-basic, .footer-menu { 
            display: none;
        }
      .footer-hr {
             display: none;
        }
}

#dropdown-basic::after{
    display: none !important;
}
#dropdown-basic, .footer-menu{
    width:100%;
    text-align: left;
    padding:0;
    font-weight: bold;
    background-color: #fff;
}
#footer-dropdown{
    padding: 0px 20px;
}
.footer-hr{
    width:98%;
}
.footer-section{
    margin:50px 0px;
}
.dropdown-toggle-button{
    font-size: 2rem;
}