.subheadingcard {
    font-size: 18px;
    font-weight: bold;
    font-family: MiniSerif, Times, Times New Roman, Georgia, serif;
}
.cardtitle{
    font-size: 22px;
    font-weight: bold;
    font-family: MiniSerif, Times, Times New Roman, Georgia, serif;
}
.cardp{
    font-size: 14px;
    padding:7px 0px 14px;
}
.cardsection{
    padding:40px 10px;
    background-color: #74747f;
}
/* .card-container{
    text-align: left;
} */
.cardcontentcontainer{
    padding:30px;
    margin:10px;
    background-color: #fff;
}
@media screen and (max-width:500px) {
    .cardsection{
        padding:2px 2px;
    }
    .cardcontentcontainer {
        margin: 10px 40px;
         height: auto;
        width: auto;
           }
}