/* @media screen {
    .biglovepolarbear{
        height:300px;
        width:300px;
    }
} */
.biglovetitle{
    font-size: 14px;
    margin:0;
    padding:0px 0px 14px;
}

h3{
    margin: 0;
    font-size: 32px;
    text-transform: uppercase;
}
.biglovebody{
    font-size: 18px;
    margin:0;
    padding:18px 0px 18px;
}
p{
    line-height: 1.333334;
    text-transform: uppercase;
}
/* .biglovetext{
    padding:32px;
} */
.biglovebtn{
    color: #fff;
    border: none;
    font-size:16px;
    margin:5px;
    text-transform: uppercase;
    padding:11px 52px;
    /* padding:11.2px 8px 9.6px; */
}
.biglovebtn:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid black;;
    font-size: 16px;
    /* margin: 12px; */
    text-transform: uppercase;
    padding: 11px 52px;
    /* padding:11.2px 8px 9.6px; */
}
.btn-rn{
    background-color: #00779c;
}
.btn-lm {
    background-color: #000;
}
a{
    font-weight: bold;
    color:currentColor;
    text-decoration: none;
}
a:hover{
    color: currentColor;
    text-decoration: none;
}
.btngroup{
    padding:0px 12px;
}
.text{
    padding:32px;
    margin:0;
    text-align: left;
}
/* Row{
    padding: 0px 25px;
} */