.biglovesection{
    margin:50px 50px 0px 50px;
    padding:50px 50px 0px 50px;
    min-height: 90vh;
}
.biglovetitle{
    font-size: 14px;
    margin:0;
    padding:0px 20px ;
}

h3{
    margin: 0;
    font-size: 32px;
    text-transform: uppercase;
}
.biglovebody{
    font-size: 18px;
    margin:0;
    padding:19px 0px 18px;
}
.biglovebtn{
    color: #fff;
    border: none;
    font-size:16px;
    margin:5px;
    text-transform: uppercase;
    padding:11px 42px;
}
.biglovebtn:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid black;;
    text-transform: uppercase;
    padding: 11px 42px;
}
.btn-rn{
    background-color: #00779c;
}
.btn-lm {
    background-color: #000;
}
a{
    font-weight: bold;
    color:currentColor;
    text-decoration: none;
}
a:hover{
    color: currentColor;
    text-decoration: none;
}

.text{
    padding:32px;
    margin:32px;
    text-align: left;
}
.biglovecontainer{
    padding:0px 25px;
}
@media screen and ( min-width:500px){
    .biglovecontainer{
        padding:0px;
    }
        .biglovebody {
            margin: 0;
            padding: 0px;
        }
        .bigsection{
            padding:0px;
            margin:0px;
        }
        .text{
            padding:32px;
        }
}