button{
    color:#fff;
    border: 1px solid currentColor;
    font-weight: bold;
    font-size: 16px;
    margin:5px;
    padding:11px 52px;
    text-transform: uppercase;
}
button:hover{
    color:#000;
    font-size:16px;
    margin:5px;
    padding:11px 52px;
    border:1px solid black;
    background-color: #fff;
    text-transform: uppercase;
}
hr{
    margin:0px;
}